<div class="container">
    <form>
        <div class="form-row">
        <div class="col-md-6">
            <div class="form-group">
                <label for=""
            </div>
        </div>
    </div>
    </form>
    
</div>